.label--template-variable {
  color: #fff;
}

.label--string {
  background-color: $color-siver;
}

.label--email {
  background-color: $color-orange;
}

.label--customer-id {
  background-color: $color-carrot;
}

.label--customer-token {
  background-color: $color-pumpkin;
}

.label--job-id {
  background-color: $color-amethyst;
}

.label--partner-id {
  background-color: $color-nephritis;
}

.label--recruiter-id {
  background-color: $color-wisteria;
}

.label--profile-id {
  background-color: $color-belize-hole;
}

.label--user-id {
  background-color: $color-peter-river;
}

.label--member-id {
  background-color: $color-green-sea;
}
