$font-size-medium: 14px;
$font-size-base: 13px;
$font-size-small: 12px;
$font-size-tiny: 11px;

$font-weight-normal: 400;
$font-weight-medium: 600;
$font-weight-bold: 700;

$color-white-ish: #f9f9f9;

$color-white: #FFFFFF;

$gray: #eee;
$gray--ish: #aaa;


// from http://www.onmedia.net.au/assets/Colors-flat.jpg
$color-siver: #bec3c7;
$color-orange: #f39c11;
$color-carrot: #eb974e;
$color-pumpkin: #dc7733;
$color-amethyst: #9a59b5;
$color-wisteria: #8f44ad;
$color-peter-river: #3598dc;
$color-belize-hole: #2a80b9;
$color-green-sea: #45b29d;
$color-nephritis: #27ae5f;

$color-inspinia-green: #1ab394;
$color-inspinia-blue: #23c6c8;
$color-inspinia-danger: #ed5565;
$color-inspinia-success: #1c84c6;
$color-inspinia-warning: #f8ac59;
